.selected{
    @media only screen and (min-width: 900px){
        background-color: #7E57A3;
        .iconSelect{ 
            filter: invert(100%); 
        }
        p{
            color: #FFFFFF;
        }
    }
}

.unselected{
    background-color: #FFFFFF;
    .iconSelect{ 
        filter: invert(24%) sepia(16%) saturate(1831%) hue-rotate(228deg) brightness(100%) contrast(85%);
    }
    p{
        color: #7E57A3;
    }
}

.unselected-dark{
    background-color: #24192E;
    .iconSelect{ 
        filter: invert(100%); 
    }
    p{
        color: #FFFFFF;
    }
}